* {
  box-sizing: border-box;
}

body {
  font-family: serif;
  background-image: url("bg1.jpg");
}

.header {
  width: 1650px;
  height: 500px;
  background-image: url("header.jpg");
}

.topnav1 {
  overflow: hidden;
  background-color: black;
  width: 1600px;
}

h1 {
  font-family: sans-serif;
  color: #ffffff;
  width: 500px;
}

p1 {
  font-size: 25px;
  width: 1200px;
  color: #ffffff;
  padding-bottom: 100px;
}

p2 {
  font-size: 25px;
  width: 1200px;
  color: #ffffff;
  padding-bottom: 100px;
}



.topnav1 a {
  font-family: sans-serif;
  float: left;
  display: inline-block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: white;
}

.footer {
  padding: 200px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
